@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-toastify-style {
  font-family: "RedHatFont", sans-serif !important;
  border-radius: 0 !important;
  min-height: 50px !important;

  .Toastify__toast {
    font-family: "RedHatFont", sans-serif !important;
    padding: 0.5em !important;
  }

  .Toastify__toast-theme--colored {
    font-family: "RedHatFont", sans-serif !important;
    padding: 0.5em !important;
  }

  &.Toastify__toast--success {
    background: #d1ffec !important;
    color: #0b8a00 !important;
  }

  &.Toastify__toast--error {
    background: #ffeaec !important;
    color: #f43131 !important;
  }

  &.Toastify__toast--warning {
    background: #ffefb7 !important;
    color: #bc7c00 !important;
  }

  &.Toastify__toast--info {
    background: #c2f0ff !important;
    color: #181ec0 !important;
  }
}

